.idea
.vscode

**/*.pyc
**/__pycache___
**/*.h5
**/*.pdf
**/*.csv
**/*.pdb
**/*.json
**/*.npy
**/*.npz
**/*.pt
**/*.zip
data/conditional_probs/raw_ProteinMPNN_outputs/*

# Ignore predictions but keep directories
results/predictions/**/*.csv
results/predictions_old_split/**/*.csv

# Keep summarized results
!results/summary/**/*.csv
!results/ablation_summary/**/*.csv
!results/*.csv
!results/calibration_metrics/*.csv
!data/constants.json

# Housekeeping
logs/
scripts/
multirun/
